@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container {
  width: min(80rem, 90%);
  margin: 0 auto;
}
li,
a {
  list-style: none;
  text-decoration: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #e7e7e7cc;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.navList {
  @apply block w-full cursor-pointer rounded-sm bg-transparent px-4 py-2 transition-all duration-200 ease-in-out hover:bg-lime-700 hover:text-gray-50 hover:drop-shadow-md;
}
.navLink {
  @apply flex items-center gap-2 text-base font-bold capitalize;
}
.flexRow {
  @apply flex items-center;
}
/* *** Subscribe Components Style Start */
.subscribeBtn {
  @apply w-full rounded-sm bg-lime-900 px-5 py-2 text-lime-100 drop-shadow-md transition-colors duration-300 ease-in-out hover:bg-lime-300 hover:text-lime-900;
}
/* *** Subscribe Components Style End */

/* ?? Footer Style Start */
.footerStyle {
  @apply text-left text-base font-bold capitalize;
}
.footerStyle > *:nth-child(1) {
  margin-bottom: 0.5rem;
}
.footerSocialIcon {
  @apply cursor-pointer transition-colors duration-200 ease-in-out hover:text-lime-600;
}
/* ?? Footer Style End */

/* !! Unique Btn Style Start */
.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.btn {
  @apply cursor-pointer rounded-full border-2 border-lime-600 bg-transparent px-8 py-2 text-sm font-bold capitalize text-lime-900 transition-all duration-200 ease-in-out hover:border-transparent hover:bg-lime-600 hover:text-lime-100;
}
/* !! Unique Btn Style End */

/* *** Product Image Container Style Start */
.imgContainer {
  max-width: 13rem;
}
.card {
  @apply z-10 overflow-hidden rounded-md border border-[#cccccc] bg-[#ffff] text-left drop-shadow-md transition-transform duration-200 ease-in-out hover:scale-105;
}
/* *** Product Image Container Style End */

/* ** Form Style Start */

.form {
  @apply rounded bg-gray-100 bg-opacity-5 p-2;
}

input {
  @apply w-full text-small sm:text-lg;
}
.registerForm {
  background-color: #33323298;
  backdrop-filter: blur(0.5rem);
}
.registerForm > *:not(:last-child) {
  @apply mb-2 md:mb-6;
}
label {
  @apply text-small md:text-sm;
}
/* ** Form Style End */

/* ?? NavBar Style Start */
.mobileNav {
  inset: -90% 0% 100% 0%;
  transition: inset 0.3s ease-in-out;
}
.mobileNav-active {
  inset: 56px 0% 0% 0%;
}
/* ?? NavBar Style End */

/* !! Dashboard Style Start */
.grid-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* place-items: center; */
  /* gap: 1rem; */
  min-height: 40rem;
}
.grid-layout > *:first-child {
  /* background-color: #e4e2e2; */
  grid-row: 1;
  grid-column: 1 / 5;
  @apply px-0 py-5 md:px-4 md:py-8;
  /* padding-block: 2rem; */
  /* padding-inline: 1rem; */
}
.grid-layout > *:last-child {
  /* background-color: #ccc9c9; */
  grid-row: 1;
  grid-column: 5 / 13;
  @apply px-0 py-5 md:px-4 md:py-8;
  /* padding-block: 2rem; */
  /* padding-inline: 1rem; */
}

@media (max-width: 600px) {
  .grid-layout > *:first-child {
    grid-column: 1 /13;
  }
  .grid-layout > *:last-child {
    grid-row: 2;
    grid-column: 1 /13;
  }
}
/* !! Dashboard Style End */
/* ??? Cart style Start */
.cartHeight {
  min-height: 42rem;
}
.countCart {
  position: relative;
}
.numberOfItem {
  position: absolute;
  top: -15px;
  left: 40px;
  font-weight: bold;
  font-size: 0.6rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #f46363;
}
/* ??? Cart style End */

/* *** Home Page Style Start */
.topCard {
  height: 100%;
  max-height: 450px;
  position: relative;
  cursor: pointer;
}
.deleteBtn {
  position: absolute;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  top: 10%;
  right: 10%;
}
.topCard::after {
  position: fixed;
  display: none;
  content: "this is just a demo text";
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  color: white;
  background-color: #0a4bbaa3;
  padding: 2rem;
  font-size: 1rem;
}
.topImgCon {
  width: 100%;
  overflow: hidden;
  height: 60%;
  display: grid;
  place-items: center;
}
.topImg {
  width: 250px;
  display: block;
  object-fit: cover;
  object-position: center;
}
/* *** Home Page Style End */

/* !! Product Details Style Start */
.singleItmeImg {
  max-width: 400px;
}
/* !! Product Details Style End */

/* *** Top Btn Style Start */
.topBtn {
  @apply animate-pulse text-3xl font-bold text-lime-900;
}
/* *** Top Btn Style End */
